asgiref
boolean.py
build
CacheControl
certifi
charset-normalizer
click
colorama
contourpy
coreapi
coreschema
cycler
cyclonedx-python-lib
defusedxml
Django==2.1.15  # or 2.0.13, or 1.11.29
django-pyodbc-azure==2.1.0.0
django-cors-headers
django-ranged-response
django-simple-captcha
djangorestframework
djangorestframework-simplejwt
drf-yasg
filelock
fonttools
html5lib
idna
inflection
itypes
Jinja2
kiwisolver
license-expression
markdown-it-py
MarkupSafe
matplotlib
mdurl
msgpack
numpy
packageurl-python
packaging
pillow
pip-api
pip-requirements-parser
pip-tools
pip_audit
py-serializable
Pygments
PyJWT
pyodbc
pyparsing
pyproject_hooks
python-dateutil
pytz
PyYAML
requests
rich
ruamel.yaml
ruamel.yaml.clib
setuptools
six
sortedcontainers
sqlparse
toml
tzdata
uritemplate
urllib3
webencodings
wheel